<div class="min-h-full">
  <%= render "shared/nav" %>
  <main>
    <div class="mx-auto max-w-3xl py-6 sm:px-6 lg:px-8 bg-gray-50">
      <ul role="list" class="divide-y divide-gray-100 p-4 ">
        <%= render @articles %>
      </ul>
    </div>
  </main>
</div>

